html{
   font-size: 10px;
}
body{
    font-size: 1.6rem;
    width: 1440px;
    margin: auto; 
}
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 3px;    
    color: #717171;
}
header {
    width: 1440px;
    height: 134px;
    background-color: #F5F5F5;
    background-size: auto ;
               }

.conteiner {
    width: 1229px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}
.logo-wrapper{
    width: 60%;
    padding-top: 52px;
    display:inline-block;
}
.nav-bar{
       width: 40%;
       padding-top: 52px;
       display:inline-block;
      }
.hearder__navigation{
    justify-content: end;

}
.navigation{
    width: 491px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    margin-top: 8px;
}
#home{
    margin-left: 16px;
} 




.welcome{
    max-width: 1440px;
    height: 519px;
    
}
.conteiner1 {
    max-width: 1220px;
    height: 407px;
    display: flex;
    padding-top: 62px;
    padding-left: 109px;
    padding-bottom: 62px;
    padding-right: 109px;
}

.welcom1{
    width: 549px;
    height: 340px;
    margin-left: 225px;
    justify-content: end;
    }

.welcom_content{
width: 549px;
height: 101px;
}    
.wel1{
padding-top: 23px;
padding-left: 4px;

width: 525.44px;
height: 105px;
left: 782px;
top: 241px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;

color: #636060;
}
.welcome_button{
padding-top: 25px; 
padding-left: 2px;   
width: 158px;
height: 75px;

}




.conteiner2 {
    max-width: 1220px;
    height: 479px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
}
.conteiner3 {
    width: 605px;
    height: 350px;
    margin-top: 111px;
       }
#cont3 {
margin-top: 40px;
       }
.houseplant11{
margin-left: 153px;
margin-top: 85px;
}


.welcom{
    margin: 62px, 109px; 
}
#home {
    color:red;
}
#pl {
    color: #499A18;
}
button{
    width: 161px;
    height: 50px;
    border:2px solid#E06733;
    padding: 13px , 16px; 
    border-radius: 10px;
    }
.services_button{
    margin-top: 60px ;
    margin-left: 144px;
    text-align: right;

    width: 559px;
    height: 60px;
    left: 557px;
    top: 69px;
    display: flex;
    justify-content: space-between;
}






.orange {
font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;

color: #E06733;
}
.about{
    width: 1440px;
    height: 666px;   
}
.about_content{
    width: 463px;
    height: 102px;  

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
}
.welcome{
    background-color: #F5F5F5;
}
h3{
font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #499A18;
letter-spacing: 3px; 
}
.pr3{
    box-sizing: border-box;

    width: 332px;
    height: 282px;
    
    border: 1px solid #E3E1D5;
    border-radius: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;

margin-top: 60px;
padding-top: 13px;
padding-bottom: 13px;
padding-left: 40px;


display: flex;
justify-content: space-around;
flex-direction: column;

}
#ab{
    color:#E06733;
}
.services{
    background-color: #F5F5F5;
    
}
.services_content {
    width: 306px;
    
    left: 109px;
    top: 40px;
}
.services_content h3{
    margin-top: 30px;
}
.conteiner4 {
    max-width: 1007px;
    height: 214px;
    margin-left: 109px;
    display: flex;
   
}






.layout-3-column{
    width: 1222px;
    height: 450px;
    justify-content: space-between;
    display: flex;
    margin-left: 109px;
    margin-bottom: 55px;
}

.tool {
    width: 330px;
    height: 450px;
    justify-content: center;
}
.tool2{
    height: 350px;
}
.col2{
    box-sizing: border-box;

width: 330px;
height: 100px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}
.p1{
    margin-top: 10px;
    text-align: center;
}

h4{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #E06733;

margin-top: 8px;
margin-bottom: 0;

}

p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #636060;
}
.prices3{
    max-width: 1222px;
    height: 560px;
    display: flex;
    padding-top: 32px;
}
.butt3{
width: 250px;
height: 50px;

background-color: #EDF2EC;
border-radius: 20px;

}
.but3{
    border:0;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
}

.strel{
    padding-left: 30px;
}

.prices1{
width: 332px;
height: 420px;
margin-left: 109px;
margin-top: 40px;
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000; 
    letter-spacing: 3px;      
}
.gar1{
width: 452px;
height: 103px;
}
.prices2{
    width: 452px;
    height: 420px;
    margin-right: 109px;
    margin-top: 40px;
    justify-content: space-between;
    text-align: end;
    padding-left: 450px;
     }
.services_button2{
    padding-top: 38px;
    padding-right: 13px;
    padding-bottom: 25px;
    
}
#colwhit{
    background-color: white;
}
.link{
    width: 188px;
    height: 50px;

    padding-top: 20px;
    display: flex;
    justify-content: space-between;
   }
#gar{
    color: green;
}
#cont{
    colar: green;
}
.contacts{
    background-color: #F5F5F5;
    padding-top: 60px;
}

.wrapper2{
    display: flex;
}

.contact_woman{
    margin-left: 109px;
   margin-top: 28px;
}
#cont4{
    padding-left: 110px;

    font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;

color: #499A18;
}

.butt5{
border: 0;
height: 50px;
width: 450px;

margin-left: 50px;
margin-top: 120px;

background-color: #D6E7D2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

text-align: left;
padding-left: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;

letter-spacing: 0.05em;
color: #717171;
}

.strel2{
    float: right;
        padding-right: 30px;
    padding-top: 13px;
}

li{
    list-style-type: none;
}
ul{
    padding-left: 0;
}
a{
    text-decoration: none;
    color:#000000;
}





.footer1{
    width: 1217px;
    height: 53px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: 0 auto;
    padding-top: 33px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 3px;
    }