html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}

h1 {
    text-align: center;
}
header {
    width: 1440px;
    height: 134px;
    background-color: #F5F5F5;
        }
.logo{
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
#home {
    color:red;
}
#pl {
    color: #499A18;
}
.welcome_buttonn{
    border:2px solid#E06733;
    padding: 16px; 
}
.welcome{
    background-color: #F5F5F5;
}
h3{
    color:green;
}
#ab{
    color:red;
}
.services{
    background-color: #F5F5F5;
}
h4{
    color:red;
}
#gar{
    color: green;
}
#cont{
    colar: green;
}
.contacts{
    background-color: #F5F5F5;
}